.parent {
    perspective: 800px;
}

.card {
    width: 200px;
    height: 350px;
    background-color: aqua;
    box-shadow: 4px 3px 2px black;
    transition: 0.3s ease-in;
}

.card:hover {
    background-color: blueviolet;
}
