body{
    display: flex;
    text-align: center;
    justify-content: center;
}

.list{
    width: fit-content;
    height: fit-content;
    background-color: greenyellow;
    border-radius: 2px solid blue;
    box-shadow: 10px 5px 15px yellow;
}

h3{
    text-decoration-color: crimson;
}

button{
    color: white;
    background-color: red;
}

#task-list{
    background-color: azure;
}