body{
    display: flex;
    text-align: center;
    justify-content: center;
}
.main{
    background-color: aqua;
    border:2px solid black;
    box-shadow: 10px 10px 5px red;
    height:200px;
    width:250px;
}
main:hover{
    background-color: aquamarine;
}

button:hover{
    color:white;
    background-color: black;
    transform: scale(1.5);

}

div img{
    width:50px;
    height:50px;
}
