/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    max-height: 100vh;
} */
.form-control {
  margin-bottom: 15px;
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

input.error {
  border-color: red;
}

input.success {
  border-color: green;
}

small.error {
  color: red;
  position: absolute;
  bottom: -18px;
  left: 5px;
}

