body {
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content{
    width: 400px;
    padding: 20px;
    background: rgb(108, 87, 87);
    border-radius: 10px;
}

.option {
    background:rgb(246, 226, 226);
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
}

.option.correct {
    background: green;
    color: white;
}

.option.wrong {
    background: red;
    color: white;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
